* {
    margin: 0;
}

body {
    background-color: #fffffe;
    color: #0e172c;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #a786df;
    text-decoration: none;
}

a:hover {
    color: #a786dfbe;
}

nav {
    background-color: #7d4cb9c0;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 30px;
    position: sticky;
    top: 0;
}

nav a {
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

nav a:hover {
    color: #ffffffc2;
}

nav li {
    display: inline;
    list-style-type: none;
    padding: 15px;
}

.title h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5em;
}

main h2 {
    font-family: 'Outfit', sans-serif;
    text-transform: capitalize;
    font-size: 2em;
}

.title, article {
    padding: 40px 120px 60px 80px;
}

#intro {
    flex-basis: 60%;
    display: flex;
    gap: 60px;
}

#sidebar {
    background-color: #F6F3FF;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    border-radius: 10px;
}

#sidebar img {
    border-radius: 50%;
    border: 7px solid #fffffe;
}

#about {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar-links {
    list-style-type: none;
    line-height: 2.5;
    word-spacing: 0.6em;
    padding-left: 0;
}

.sidebar-links a {
    font-family: 'Outfit', sans-serif;
}

.container_lists {
    display: flex;
    gap: 60px;
}

.container_lists h3 {
    margin-bottom: 10px;
}

.container_lists li {
    font-size: smaller;
    padding: 5px;
}

#projects {
    background-color: #D1D1E9;
    text-align: center;
}

#projects a {
    color: #5d3f80;
    margin-top: 10px;
}

#projects a:hover {
    color: #5d3f80c7;
}

#gallery_projects {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 50px;
}

.container_project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container_project img {
    width: 100%;
    height: auto;
    border: 1px #0e172c25 solid;
}

.container_project p {
    width: 80%;
}

.project-icons {
    word-spacing: 0.6em;
}

#contact h2 {
    margin-bottom: 30px;
}

#contactme {
    max-width: 500px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#contactme input, textarea {
    border-radius: 2%;
    padding: 7px;
    border-style:solid;
} 

#contactme button {
    max-width: 120px;
    padding: 5px;
    background-color: #9058d4;
    border: none;
    border-radius: 5%;
    color: #ffffff;
}

#contactme button:hover {
    box-shadow: 0 5px 7px rgba(51, 36, 43, 0.486);
    transform: translateY(2px);
  }

@media all and (max-width: 768px) {
    nav {
      justify-content: flex-start;
    }
    .title h1 {
        font-size: 4em;
    }
    #intro {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    #sidebar {
        background-color: transparent;
        flex-direction: row;
        padding: 0;
    }
    #sidebar img {
        width: 120px;
        height: 120px;
        border: none;
    }
    #gallery_projects {
        flex-direction: column;
    }
}

@media all and (max-width: 412px) {
    .title h1 {
        font-size: 3em;
    }
    nav a {
        font-size: smaller;
    }
    nav li {
        padding: 5px;
    }
    #sidebar {
        flex-direction: column;
    }
    .sidebar-links {
        display: flex;
        flex-direction: row;
    }
    .title, article {
        padding: 30px 60px;
    }
}